.propimg {
	width: 350px;
	height: 350px;
	padding-left: 15px;
	padding-top: 10px;
	position: relative;
	    }
.barramenu {
	background-color: grey;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	height: 30px;
	width: 200px;
	border: 1px ;
	border-radius: 50px;
	border-color: red;
	text-align: center;
	padding-right:20px;
	display: inline-block;
		   }


#containerimg {
	width: 1200;
	height: 2000;
	border: 2px solid red;
	position: relative;

	
}

#divtit1 {
	width: 1000px;
	height: 150px;
	margin-left: 13%;
	margin-top: 5%;
	border: 2px ;
	position: relative;
}

#divsubtit1 {
	width: 1000px;
	height: 120px;
	margin-left: 13%;
	margin-top: inherit;
	border: 2px ;
}

#divbarrademenu {
	height: 50px;
	width: 100%;
	border: 2px solid red;
	background-color: lightgrey;
	text-align:center;
	
		}
#barramenuselected {
	font-size: 32px;
	height: 35px;
	width: 220px;
	border-color: white;
	border: 2px ;
	background-color: darkgrey;
	font-weight: bold;
	color: white;
	float: left;
	clear: right;
	border-radius: 50px;
	margin-left: 2%;
	margin-top: 5px;
	text-align: center;
	padding-right: 10px;
	position: relative;
	padding-bottom: 2px;
					}
#imghome {
	margin-left: auto;
	height:600px; 
	width:600px;
	border-radius: 50%;
		 }
#imghomecontainer{
	margin-top: 3%;
	margin-left: 15%;
	position: relative;
	max-height: 600px;
	max-width: 600px;
	border: 2px  red;
				 }

body {
	margin: 0 !important;
	overflow-x: hidden;
	background-image: url"https://image.freepik.com/free-photo/white-tiles-textures_1203-2289.jpg");
	background-color: lightblue;
	background-repeat: repeat-y;
	background-position: top;
	background-size: 110%;
	background-attachment: ;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
	color: white;
	position: relative;
	margin-top: 15%;
	border:2px solid red;
	text-align: center;
	word-break: break-all;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
	position: relative;
	margin-top: inherit;
	margin-left: 1%;
	border:2px solid red;
	word-break: break-all;
}

span:hover {
	font-size: 32px;
	height: 35px;
	width: 220px;
	border-color: white;
	border: 2px solid;
	transition: 1s;
}

